<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<div>
    <h3>테스트용 페이지</h3>
    <p>유저정보 입력</p>
    <form id="defalutForm" th:action="@{/api/users}" method="post">
        <table border=1>
            <tr>
                <td>성명</td>
                <td>
                    <input type="text" name="nm" placeholder="이름을 입력하세요">
                </td>
            </tr>
            <tr>
                <td>성별</td>
                <td>
                    <input type="text" name="gender" placeholder="성별을 입력하세요">
                </td>
            </tr>
            <tr>
                <td>핸드폰번호</td>
                <td>
                    <input type="text" name="phoneNumber" placeholder="핸드폰번호를 입력하세요">
                </td>
            </tr>
        </table>
        <button type="submit" >입력</button>
        <button type="button" onclick="location.href='/board/list'">페이지이동</button>
    </form>
</div>
</body>
</html>